<!DOCTYPE html>
<html>
<head lang="tr">
<meta charset="UTF-8">
<script type='text/javascript' src="js/jquery-3.1.1.min.js"></script>
<script type='text/javascript' src="js/js.js"></script>
<link type="text/css" rel="stylesheet" href="css/css.css">
<title>E-nahtar</title>
</head>
<body>
<section id="container" >
	<!-- başlık ve logolar için ayrılan  alan -->
	<header id="header" >
		<div class="flex-container">
			<div style="flex-grow: 1" class="radius">
				<div id="logoBakanlik"></div>
			</div>
			<div style="flex-grow: 10" class="radius">
				<div id="bakanlik">T.C. MİLLî EĞİTİM BAKANLIĞI</div>
				<div id="okul">ŞEHİR / İLÇE - OKUL ADI BU ALANA YAZILABİLİR</div>
			</div>
			<div style="flex-grow: 1" class="radius">
				<div id="logoOkul"></div>
			</div>
		</div>
	</header>
	<!-- içerik alanı -->
	<article id="content">
		<div class="flex-container radius" >
			<div style="flex-grow: 10;text-align:left;padding-left:10px;">
				E-nahtar Akıllı Tahta Kilit Programı
			</div>
			<div style="flex-grow: 1;text-align:right;padding-right:1px;">diger</div>
		</div>


		<div class="flex-container radius" >
			<div style="flex-grow: 10;text-align:left;padding-left:10px;">
				Bu uygulama pardus işletim sisteminde de çalışabilir.
			</div>
			<div style="flex-grow: 1;text-align:right;padding-right:1px;">diger</div>
		</div>


		<div class="flex-container radius" >
			<div style="flex-grow: 10;text-align:left;padding-left:10px;">
				GaziantepPython grubu tarafından geliştirilmiştir.
			</div>
			<div style="flex-grow: 1;text-align:right;padding-right:1px;">diger</div>
		</div>


		<div class="flex-container radius" >
			<div style="flex-grow: 10;text-align:left;padding-left:10px;">
				Kilit ekranını geçmek için anahtar flash bellek takmanız gerekmektedir.
			</div>
			<div style="flex-grow: 1;text-align:right;padding-right:1px;">diger</div>
		</div>


		<div class="flex-container radius" >
			<div style="flex-grow: 10;text-align:left;padding-left:10px;">
				Bu alana birşeyler yazılabilir
			</div>
			<div style="flex-grow: 1;text-align:right;padding-right:1px;">diger</div>
		</div>


		<div class="flex-container radius" >
			<div style="flex-grow: 10;text-align:left;padding-left:10px;">
				Bu alana birşeyler yazılabilir
			</div>
			<div style="flex-grow: 1;text-align:right;padding-right:1px;">diger</div>
		</div>


		<div class="flex-container radius" >
			<div style="flex-grow: 10;text-align:left;padding-left:10px;">
				Bu alana birşeyler yazılabilir
			</div>
			<div style="flex-grow: 1;text-align:right;padding-right:1px;">diger</div>
		</div>


		<div class="flex-container radius" >
			<div style="flex-grow: 10;text-align:left;padding-left:10px;">
				Bu alana birşeyler yazılabilir
			</div>
			<div style="flex-grow: 1;text-align:right;padding-right:1px;">diger</div>
		</div>

	</article>

	<!-- alt bilgi  -->
	<footer id="footer" >
		<div class="flex-container">
			<div style="flex-grow: 10"><div id="enahtar">E-nahtar Akıllı Tahta Kilit Sistemi</div></div>
			<div style="flex-grow: 1;"><div id="saat">Saat </div></div>
		</div>
	</footer>
</section>

</body>
</html>